<div class="mn-header fix">
    <div class="f"><i class="fa fa-th m-color-0"></i><span>个人详情</span></div>
    <div class="r"><a class="btn btn-white" ng-click="back2UserList()"><i class="ti-back-left"></i>返回</a></div>
</div>

<div class="user-info">
    <h3>个人信息</h3>
    <div class="detail fix">
        <div class="brief-img f"><img src="http://mc.meeno.net:8082/auction/uploads/photo/1480048901_5837c105956ed.jpg"></div>
        <div class="brief-txt f">
            <div><span class="title">用户名：</span><span>mike</span></div>
            <div><span class="title">性别：</span><span>boy</span></div>
            <div><span class="title">手机号：</span><span>1324567981</span></div>
        </div>
    </div>
</div>

<div class="user-info">
    <h3>收货地址</h3>
    <div class="detail">
        <table class="table">
            <thead><tr>
                <td>序号</td>
                <td>收货人</td>
                <td>手机号</td>
                <td>收货地址</td>
            </tr></thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>张三</td>
                <td>17002101452</td>
                <td>浦东新区祖冲之路22/8弄3号楼508室</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="user-info">
    <h3>购买记录</h3>
    <div class="detail">
        <table class="table">
            <thead><tr>
                <td>订单编号</td>
                <td>藏品</td>
                <td>金额</td>
                <td>付款时间</td>
            </tr></thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="user-info">
    <h3>竞拍记录</h3>
    <div class="detail">
        <table class="table">
            <thead><tr>
                <td>竞拍时间</td>
                <td>藏品</td>
                <td>竞拍金额</td>
                <td>成交金额</td>
            </tr></thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="user-info">
    <h3>购买服务</h3>
    <div class="detail">
        <table class="table">
            <thead><tr>
                <td>序号</td>
                <td>服务名称</td>
                <td>金额</td>
                <td>下单时间</td>
            </tr></thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>