@charset "utf-8";
.bg{
    background: #B09067 url(../images/login/login_bg.jpg) no-repeat top center;
    height: 367px;
}

.main{
	position: absolute;
	left: 0;
	top: 130px;
	width: 100%;
}

.title{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 30px;
	color: #fff;
}

.form-container{
	padding: 20px 50px 20px 60px;
	margin: 90px auto;
    width: 800px;
    display: block;
    background: #ededed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.form-lf{
	width: 350px;
}

.form-rg{
	width: 300px;
}

.form-rg img{
	display: block;
	width: 200px;
	margin: auto;
}

.form-rg p{
	text-align: center;
	padding-top: 10px;
}

.form-title{
	padding-top: 50px;
	color: #333;
	font-size: 18px;
	padding-bottom: 20px;
}

.form-group{
	overflow: hidden;
	position: relative;
	padding: 3px 0 3px 54px;
    border: 1px solid #e7e7eb;
}

.form-err{
	border: 1px solid #e4393c !important;
}

.err-des{
	padding: 8px 0;
	color: #e4393c;
}

.form-group i{
	position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -11px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-group input{
	border: 0;
    outline: 0;
    padding: 11px 0;
    vertical-align: middle;
    width: 100%;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    background-color: transparent;
}

.form-group .un {
	background-image: url(../images/login/un.png);
}

.form-group .unerr {
	background-image: url(../images/login/un-err.png);
}

.form-group .pwd {
	background-image: url(../images/login/pwd.png);
}

.form-group .pwderr {
	background-image: url(../images/login/pwd-err.png);
}

.rem{
	height: 20px;
}

.rem-lf{
	width: 20px;
}

.rem-rg{
	margin-left: 30px;
	line-height: 20px;
}

.has-sel,
.un-sel {
    display: inline-block;
    width:20px;
    height: 20px;
    border: 1px solid #ddd;
    position: relative;
}
.has-sel {
    background-color: #B09067;
    border: 1px solid #B09067;
}

.un-sel:hover{
    border: 1px solid #B09067;
}

.has-sel:before {
    content: "";
    width: 2px;
    height: 6px;
    background-color: #fff;
    border-radius: 1px;
    position: absolute;
    left: 6px;
    bottom: 4px;

    -ms-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.has-sel:after {
    content: "";
    width: 2px;
    height: 10px;
    background-color: #fff;
    border-radius: 1px;
    position: absolute;
    left: 10px;
    bottom: 4px;

    -ms-transform:rotate(37deg);
    -moz-transform:rotate(37deg);
    -webkit-transform:rotate(37deg);
    -o-transform:rotate(37deg);
    transform:rotate(37deg);
}

.login-btn{
	margin-top: 20px;
}

.btnlogin{
	display: block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	background-color: #B09067;
	text-align: center;
	color: #fff;
}

.bottom{
	text-align: center;
}

.logining{
	display: none;
	width: 100%;
	height: 44px;
	line-height: 44px;
	background-color: #ccc;
	text-align: center;
	color: #fff;
}

input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset;}
